import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Oxygen:wght@300;700&family=Satisfy&family=Slabo+27px&display=swap');
/* this is the style for the body*/

body{
   font-family: 'Oswald', sans-serif;

}

h1{
	font-size:4em;
    color: black;
    text-align:center; 
    font-weight:bold;
}
nav ul{
	list-style-type: none;
    text-align: center;
    background-color: pink;
    padding: 15px 0;
    margin-top:0;
    border-top: #022837 2px solid;
    border-bottom: #022837 2px solid;

}
nav li{
	display: inline;
    margin: 5px 10px;
}
nav a{
    text-decoration:none;
    text-transform:uppercase;
}
nav a:link{
color:purple;
}
nav a:visited {
color:purple;
}
nav a:hover  {
color:orange;
}
nav a:active  {
color:blue;
}

main{
	max-width: 1200px;
	margin:0 auto;
	
}
.home-hero{

	background-image:url(images/header.jpg);
	height: 475px;
	background-size:cover;
	background-position: center;
	color: pink;
	padding: 10px 10px 10px 30px; 
	text-shadow: 4px 3px 0 #7A7A7A;
}


h2{
	margin-bottom:1px;
	margin-top:5px;
    font-weight:bold;
}
h3{
	margin-top:1px;
	margin-bottom:20px;
	font-weight:bold;
    
}
img{
    margin:0 auto;
    display:block;
}
.col-sm-4 h3{
    text-align:center;
}
blockquote{
	margin:30px;
}
footer{
	color:white;
	background-color: pink;
	text-align:center;
	padding:15px;
	margin:0;
	display:block;
}
footer a:link{
    color:white;
}

.icons .fa{
	font-size: 5em;
    color: #35cad2;
	
}
.icons{
	text-align:center;
	padding: 40px 0 ;
    color: #35cad2;
    max-width:1200px;
    margin:0 auto;
    
}

/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
}

/* CSS Adjustments for Smartphones */
@media only all and (max-width: 768px) {
	h1{
	    font-size: 1.5em;
	}
}
